.App {
  text-align: center;
}

.login_button {
  height: 30px;
  margin-top: 20px;
  background-color: rgb(179, 179, 179);
}

.navbar_Bg{
  background-color: white;
  border-bottom: #7A8FC1 3px solid;
}

.flex{
  display: flex;
  justify-content: center;
}

.table_title{
  width: 800px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #E8E1F3;
}

.table_content{
  width: 800px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom: #A8A0C0;
  text-align: center;
}


.head{
  margin: 0 auto;
  margin-top: 80px;
  font-size:35px;
  font-weight: bold;
  margin-bottom: 95px;
  background-color: #b7c5e7;
}

.btn {
  color: rgb(77, 152, 112);
  border-radius: 50px;
  font-size: 1.2rem; 
  float:left; 
  margin-left:15px;
}

.locate1{
  text-align:left;
  font-size:25px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #b7c5e7;
}

.locate1-2{
  text-align: left;
  margin-bottom: 90px;
}

.logoStyle {
  width: 100%;
  flex-direction: column;
  align-self: center;
}

.miniLogoStyle {
  width: 68%;
  flex-direction: column;
  align-self: center;
}

.logout{
  margin-left: 780px;
  text-decoration: underline;
}

.nav_title{
  font-weight: bold;
}

.loginpic{
  border-radius: 10px 0px 0px 10px;
}

.list_button{
  background-color: #a29ab9;
  border: 0;
  color: white;
}

.list_button:hover{  
  background-color : #6c628b;
  color: white;
  
}

.list_button:focus{  
  background-color : #A8A0C0;
  color: white;
}

.list_button_margin{
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.full_div {
  width: 100%;
  height: 85vh;
  flex-direction: column;
}

.table_area {
  flex: 1;
}

.table_feed {
  display: flex;
}

.table_item {
  flex:1;
}

.table_title{
  margin-bottom: 30px;
  margin-top: 20px;
}

.list_hover{

}

.list_hover:hover{
  background-color : #e3e1ec;
}

.like{
  width: 40px;
  height: 40px;
  margin-right: 50px;
  margin-top: 25px;
}

.dislike{
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-top: 25px;
}

.like_num{
  font-size: 17px;
  margin-right: 60px;
}

.dislike_num{
  font-size: 17px;
  margin-left: 60px;
}

.line{
  border-bottom: #e3e1ec 4px solid;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.backgroundimg{
  background-image: url( 'https://p0.pikist.com/photos/387/462/clouds-cumulus-cloudy-sky-air-atmosphere.jpg' );
  background-size: cover;
  height: 870px;
  opacity: 0.8;
}