.App {
  text-align: center;
}

.login_button {
  height: 30px;
  margin-top: 20px;
  background-color: rgb(179, 179, 179);
}

.navbar_Bg{
  background-color: white;
  border-bottom: #7A8FC1 3px solid;
}

.flex{
  display: flex;
  justify-content: center;
}

.table_title{
  width: 800px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #E8E1F3;
}

.table_content{
  width: 800px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom: #A8A0C0;
  text-align: center;
}


.head{
  margin: 0 auto;
  margin-top: 50px;
  font-size:35px;
  font-weight: bold;
  margin-bottom: 95px;
}

.btn {
  color: rgb(77, 152, 112);
  border-radius: 50px;
  font-size: 1.2rem; 
  float:left; 
  margin-left:15px;
}

.locate1{
  text-align:left;
  font-size:25px;
  font-weight: bold;
}

.locate1-2{
  text-align: left;
  margin-bottom: 90px;
}


.logoStyle {
  width: 100%;
  flex-direction: column;
  align-self: center;
}

.logout{
  margin-left: 780px;
  text-decoration: underline;
}